.btn-warn{
  background-color: tomato !important;
}
.btn-warn:hover{
  background-color: rgb(247, 0, 0) !important;
  color:black !important;
}
.btn-secondary{
  background-color: rgb(253, 106, 61) !important;
}
.btn-secondary:hover{
  background-color: rgb(255, 60, 0) !important;
  color:white !important;
}
.errorlist {
  color: red;
}
body, p,h2, div{
  color: aliceblue;
}
body{
  height: 100vh; 
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(/static/img/background.jpg); 
  background-repeat:no-repeat; 
  background-size:cover ; 	
  background-attachment:fixed !important;
  background-size: cover;
  top: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
  text-decoration: none !important;
  color: white;
}
#thumbnail,#remove {
  cursor: pointer;
}
.comment-profile {
  width: 40px;
  height: 40px;
}
#remove {
  font-size: 14px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}
.video-owner-pic {
  width: 60px;
  height: 60px;
}
.user-profile-pic {
  width: 70px;
  height: 70px;
}
li {
  border-bottom: 1px solid #eeeeee;
  list-style: none;
}
.navtit {
  font-size: 1.5em;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(255, 255, 255);
  font-weight:bold;
}
.videoCard{
 background:linear-gradient(rgba(196, 196, 196, 0.384),rgba(0,0, 0, 0.9));
 color:#eeeeee;
 border-color: gray;
 text-decoration: none;
}
.btn, button{
  color:rgb(247, 247, 247);
  background-color:rgb(71, 71, 71);
  border-radius: 10px;
  margin: 20px;
}
.btn:hover{
  color:rgb(71, 71, 71);
  background-color: rgb(247, 247, 247);
  box-shadow: 0 0 5px blanchedalmond;
  border: white;
} 
img:hover, .videoCard:hover{
  box-shadow: 0 0 10px blanchedalmond;
}
.btn, img, a,i{
  margin:10px;
}
.modal-title{
  color: white;
}
.close{
  position: absolute;
  right:0;
  color:white;
  background-color:red;
  border-radius: 5px;
  margin: 20px;
  border: none;
}
.modal-content{
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.2));
}
.modal-body form .form-group {
 margin: 20px;
 border-radius: 5px;
 color:rgb(247, 247, 247);
}
.videoLink:hover, .videoLink{
  border: none !important;
}
.bi-youtube{
  font-size: 60px; 
  margin-right: 20px; 
  margin-left: 10px; 
  padding: 0; 
  color: white;
}
.formCostumization{
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(126, 126, 126, 0.581));
  padding:50px;
}
.formCostumization input{
  margin-bottom: 30px;
}
.nav-item:hover{
  box-shadow: 0 0 10px blanchedalmond;
}
.sp{
   /* padding:10px 20px; */
  border-radius: 30px; 
  /* position: relative;
  right:-90%; */
}
.avatarpic{
  width:250px;
  height:250px;
  position:relative;
  left: 65%;
  right:65%;
}
.user{
  position:relative;
  left: 78%;
}

.uploadbtn{
  position:relative;
  left: 65%;
}
.nav-item{ 
 padding-left: 20px !important;
 padding-bottom: 10px !important;
 height:100px !important;
 font-weight:bold; 
 color:white;
}
i{
  font-size: 30px;
  margin-left: 2px;
}
.caption {
  font-size: 10px;
  color: rgb(192, 192, 192);
  margin-top: 5px;
  margin-left: -10px;
  text-align: center !important;
}
.d-flex{
  /* width:1px !important; */
  /* margin-left: 200px; */
  position: relative;
  right: -10%;
  top:-5px;
}
.nav-avatar{
  font-weight:bold; 
  color:white; 
  position:relative;
  right:0;
  top:0;
  margin-top:5px;
  padding-bottom: 110px !important;
}
.linkRelate:hover{
  color: rgb(254, 175, 79) !important;
}
.navbar{
  position: sticky;
  top:0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}
.alert {
  position: relative;
  padding: 15px;
  border-radius: 5px;
  background-color: #d4edda; /* Light green background */
  color: #155724; /* Dark green text */
  border: 1px solid #c3e6cb;
  max-width: 400px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert .close {
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #721c24; /* Red color */
  cursor: pointer;
  position: absolute;
  top: -8px;
  right: 10px;
}